body {
    padding-top: 80px;
}

/* NAVBAR */
.navbar {
    background-color: #FFFFFF;
    border-bottom: 2px solid #E2E8F0;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.contenedor-nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.contenedor-nav a {
    text-decoration: none;
}


.logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #0052CC;
}



/* Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 10px;
}

.nav-link {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: #0052CC;
}
